

.our-porject .content-inner:hover .content-front {
    transform: rotateY(-180deg);
    border-radius: 20px;
}

.our-porject .content-inner:hover .content-back {
    transform: rotateY(0deg);
    border-radius: 20px;
}

.our-porject .content-inner .content-front,
.content-inner .content-back {
    position: relative;
    border-radius: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.our-porject .content-front {
    background: #292929;
    border-radius: 20px;
}

.our-porject .content-inner>* {
    transition: .9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: 20px;
}

.our-porject .content-inner .cf-inner {
    transform-style: preserve-3d;
    border-radius: 20px;
    backface-visibility: hidden;
    width: 100%;
    min-height: 400px;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 1;
    background-position: center;
    background-size: cover;
}

.first-flip-img {
    background-image: url(../../assets/financial.jpg);
}

.second-flip-img {
    background-image: url(../img/computer-engineer-holds-pc-motherboard.jpg);
}

.third-flip-img {
    background-image: url(../img/serious-couple-of-hackers-working.jpg);
}

.fouth-flip-img {
    background-image: url(../img/computer-web-development.jpg);
}

.fifth-flip-img {
    background-image: url(../img/web-developer-coding-app.jpg);
}

.sixth-flip-img {
    background-image: url(../img/web-codes-on-cybersecurity-interface.jpg);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 3;
}

.content-inner .cf-inner .inner {
    align-items: stretch;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    transform: translateZ(95px) scale(0.81);
    text-align: center;
    position: relative;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 22px;
    z-index: 2;
}


.content-inner  .content-back {
    position: absolute;
    left: 0;
    top: 0;
     width: 100%;
    height: 100%; 
}

