@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Global design tokens */
:root {
  /* Brand Colors */
  --brandDark: #000;
  --brandError: red;
  --brandLight: #ffffff;
  --brandteal: #47aeb573;
  --brandGreen: #46acb4;
  --brandGrey: #9c9c9c;
  --brandGrey2: #676666dd;
  /* --brandDark2: #3a3a3a; */
  --brandDark2: #292929;
  /* --brandGrey:  */

  /* Font Families */
  --font-head: "Roboto Condensed";
  --font-para: "TASA Orbiter";
}

body {
  background: rgb(var(--bg));
  color: rgb(var(--text));
}


/* .font-head {
  font-family: var(--font-head);
}

.font-para {
  font-family: var(--font-para);
} */

@theme inline {
  /* =====================
     FONT FAMILIES
  ====================== */
  --font-head: var(--font-head);
  --font-para: var(--font-para);

  /* =====================
     COLORS
  ====================== */
  --color-brandDark: var(--brandDark);
  --color-brandLight: var(--brandLight);
  --color-brandGreen: var(--brandGreen);
  --color-brandGrey: var(--brandGrey);
  --color-brandDark2: var(--brandDark2);
  --color-brandGrey2: var(--brandGrey2);
  --color-brandError: var(--brandError);

  
}



.dark {

  --brandDark: #000000;
  --brandCyan: #47AEB6;
  --brandWhite: #FFFFFF;
  --brandBlue: #0634FD;

}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
} */