@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Global design tokens */
:root {
  /* Brand Colors */
  --brandDark: #000;
  --brandLight: #ffffff;
  --brandteal: #47aeb573;
  --brandGreen: #46acb4;
  /* --brandGrey:  */

  /* Font Families */
  --font-display: "Roboto Condensed";
  --font-head: "TASA Orbiter";
}

body {
  background: rgb(var(--bg));
  color: rgb(var(--text));
}

.font-display {
  font-family: var(--font-display);
}

.font-head {
  font-family: var(--font-head);
}

.font-sans {
  font-family: var(--font-sans);
}

@theme inline {
  /* =====================
     FONT FAMILIES
  ====================== */
  --font-display: "Roboto Condensed", sans-serif;
  --font-head: "TASA Orbiter", sans-serif;
  --font-urbanist: "Urbanist", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  /* =====================
     COLORS
  ====================== */
  --color-brandDark: var(--brandDark);
  --color-brandLight: var(--brandLight);
  --color-brandGreen: var(--brandGreen);

  
}



.dark {

  --brandDark: #000000;
  --brandCyan: #47AEB6;
  --brandWhite: #FFFFFF;
  --brandBlue: #0634FD;

}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}